<h1> Edit Discount Page </h1>

<%= form_with model: @bulk_discount, url: update_merchant_bulk_discount_path(@merchant, @bulk_discount), method: :patch do |form| %>
<section id="percentage_field">
  <%= form.label :percentage_discount %>
  <%= form.number_field :percentage_discount, step: 0.01 %>
</section>
<section id="threshold_field">
  <%= form.label :threshold %>
  <%= form.number_field :threshold %>
</section>
  <%= form.submit "Submit" %>
<% end %>