<h1> Merchants Bulk Discounts </h1>

  <section id="create_discount">
    <li> <%= link_to "Create New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %> </li>
  </section>

<section class="bulk_discounts-"#{@merchant.id}>
<ul>
<% @merchant.bulk_discounts.each do |bulk_discount| %>
  <li> Discount: <%= bulk_discount.percentage_discount * 100 %>% </li>
  <li> Off: <%= bulk_discount.threshold %> Items</li>
  <p> <%= link_to "Discount Show Page", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %> </p>
  <p> <%= button_to "Delete Discount", delete_merchant_bulk_discount_path(@merchant, bulk_discount), method: :delete, data: { confirm: "Are you sure?" }, class: "delete-discount-button" %>

<% end %>
</ul>
</section>

<section id="holiday_discounts" >
<% response = HTTParty.get("https://date.nager.at/api/v3/NextPublicHolidays/US") %>
<% parsed = JSON.parse(response.body, symbolize_names: true) %>
<% parsed.first(3).each do |holiday| %>
  <li> <%= holiday[:name] %> </li>
  <li> <%= holiday[:date] %> </li>
  <p> <%= link_to "Create Holiday Discount", "/merchants/#{@merchant.id}/holiday_discounts/new" %>
<% end %>
</section>