<h1> Merchants Bulk Discounts </h1>

  <section id="create_discount">
    <li> <%= link_to "Create New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>
  </section>

<section class="bulk_discounts">
<ul>
<% @merchant.bulk_discounts.each do |bulk_discount| %>
  <li> Discount: <%= bulk_discount.percentage_discount * 100 %>% </li>
  <li> Off: <%= bulk_discount.threshold %> Items</li>
  <p> <%= link_to "Discount Show Page", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}" %> </p>
  <p>   <%= link_to "Delete Discount", "/merchants/#{@merchant.id}/bulk_discounts/#{bulk_discount.id}",
              method: :delete, class: "button-link", data: { confirm: "Are you sure you want to delete this discount?" } %>
<% end %>
</ul>
</section>