<h1> Create a New Discount </h1>

<%= form_with model: @bulk_discount, url: merchant_bulk_discounts_path(@merchant), local: true do |form| %>
  <%= form.label :percentage_discount %>
  <%= form.number_field :percentage_discount %>
  <br>
  <%= form.label :threshold %>
  <%= form.number_field :threshold %>
  <br>
  <%= form.submit "Create New Discount"%>
<% end %>