<section id="invoice_details">
<h1>Invoice </h1>
<p>ID: <%= @invoice.id %></p>
<p>STATUS: <%= @invoice.status %>
        <%= form_with model: @invoice, url: invoice_update_path(@invoice), method: :patch do |f| %>        
        <%= f.hidden_field :invoice_id, value: invoice.id %>
        <%= f.label :status %>
        <%= f.select :status, options_for_select([['in progress', 0], ['completed', 1], ['cancelled', 2]], selected: invoice.status) %>
        <%= f.submit 'Update Invoice Status' %>
</p>
<p>CREATED AT: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>
<p>CUSTOMER NAME: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
</section>