<%= render partial: "admin/invoices/invoice_details", locals: { invoice: @invoice} %>


<section id="invoice_status_form">
  <%= form_with model: @invoice, url: admin_invoice_update_path(@invoice), method: :patch do |f| %>        
  <%= f.hidden_field :invoice_id, value: @invoice.id %>
  <%= f.label :status %>
  <%= f.select :status, ['in progress', 'completed', 'cancelled'], selected: @invoice.status %>
  <%= f.submit 'Update Invoice Status' %>
  <% end %>
</section>

<ul>
<p id="invoice_items">Invoice Items: 
  <% @invoice.invoice_items.each do |invoice_item| %>
  <%= render partial: "/merchant_invoices/invoice_items_details", locals: { invoice_item: invoice_item} %>
    <br>
  <% end %>
</ul>

</p>

<section id="total_revenue">
  <h2>Revenue Generated</h2>
  <p>Total Revenue for Invoice <%= @invoice.id %> is: <%= number_to_currency(@invoice.total_revenue / 100) %></p>
</section>


