<%= render partial: "admin/invoices/invoice_details", locals: { invoice: @invoice} %>

<section id="total_rev">
<h2>Total Revenue: <%= number_to_currency(@invoice.total_revenue / 100) %></h2>
</section>

<section id="invoice_item_details">
  <% @specific_invoice_items.each do |invoice_item| %>
<ul>
  <%= render partial: "invoice_items_details", locals: { invoice_item: invoice_item} %>
      <%= form_with model: invoice_item, url: merchant_invoice_update_path(@merchant, @invoice), method: :patch do |f| %>        
        <%= f.hidden_field :invoice_item_id, value: invoice_item.id %>
        <%= f.label :status %>
        <%= f.select :status, ['pending', 'packaged', 'shipped'], selected: invoice_item.status %>
        <%= f.submit 'Update Item Status' %>
      <% end %>
</ul>
<% end %>
</section>
